In [1]:
#ライブラリのインポート
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas_datareader import data as wb
%matplotlib inline

In [2]:
#銘柄の証券コードをリストに格納
#4755:楽天グループ
#7203:トヨタ自動車
#7974:任天堂
SCode=['4755.T','7203.T','7974.T']

#データ格納用の変数を用意
data=pd.DataFrame()

for i in SCode:
    data[i]=wb.DataReader(i,data_source='yahoo',start='2010-1-1',end='2019-12-31')['Adj Close']
    
data.head()

                4755.T      7203.T        7974.T
Date
2010-01-04  687.775696  521.374878  17806.091797
2010-01-05  694.499817  509.982483  18051.093750
2010-01-06  686.815125  522.045044  19363.035156
2010-01-07  663.761169  516.013855  20200.785156
2010-01-08  659.918945  530.756897  20271.910156

In [3]:
#利益率計算(対数利益率)
returns_log=np.log(data/data.shift(1))

#それぞれの株式に対して平均と分散を計算
for SC in SCode:
    print(SC)
    print("========================")
    #平均利益率の計算
    print("平均：",np.mean(returns_log[SC])*250)
    #分散の計算
    print("分散：",np.std(returns_log[SC])**2)
    print()

4755.T
========================
平均： 0.030709385449062064
分散： 0.00045702395786095584

7203.T
========================
平均： 0.10401220118915462
分散： 0.0002502766198504855

7974.T
========================
平均： 0.08254623120870744
分散： 0.0006423220459564493

In [4]:
conv_mat=returns_log.cov()
conv_mat

          4755.T    7203.T    7974.T
4755.T  0.000457  0.000116  0.000134
7203.T  0.000116  0.000250  0.000154
7974.T  0.000134  0.000154  0.000643

In [5]:
corr_mat=returns_log.corr()
corr_mat

          4755.T    7203.T    7974.T
4755.T  1.000000  0.341938  0.246764
7203.T  0.341938  1.000000  0.383232
7974.T  0.246764  0.383232  1.000000